@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono-Regular';
  src: url('fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.body {
  background-color: yellow;
  margin: 0;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.counters {
  margin-top: 7px;
  padding: 0 5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 60px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;

  /*display: flex;
  align-items: center;
  justify-content: space-between; */
  align-items: center;
}

.color-picker {
  align-self: center;
}

.last-command-label,
.current-value-label,
.aces-label {
  font-family: UbuntuMono-Regular, sans-serif;
  margin: 0;
  user-select: none;
  min-width: 10rem;
}

.last-command-text,
.current-value-text,
.aces-text {
  font-family: UbuntuMono-Regular, sans-serif;
  user-select: none;
  white-space: nowrap;
  font-weight: 700;
}

.btns-wrapper {
  display: flex;

  user-select: none;
  padding: 7px 7px;
  background-color: rgb(223, 213, 165);
  background-color: rgb(160, 201, 221);
  background-color: rgba(144, 176, 197, 0.2);
}

/*~~~~~~~~~~~~~~~~~~~~~ Buttons general */
.ext__btn {
  border-radius: 10px;
  border: none;

  width: 100%;
  max-width: 60px;
  height: 40px;

  padding: 0;

  font-size: 1rem;
  font-weight: 700;
  color: rgb(29, 27, 27);
  font-family: Montserrat, sans-serif;

  margin: 5px;

  background-color: rgb(150, 206, 180);
  border-color: rgb(150, 206, 180);

  transition: transform 200ms ease, background-color 400ms ease;
}

.ext__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(40, 167, 69);
  border-color: rgb(40, 167, 69);
}

.ext__btn:active {
  background-color: rgba(241, 6, 6, 0.8);
}

.ext__btn--content {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 500ms ease;

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/*~~~~~~~~~~~~~~~~~~~~~ Undo button */
.ext__btn--undo {
  width: 100%;
  max-width: 40px;
  background-color: rgba(202, 77, 77, 0.8);
  font-size: 1.5rem;
  transition: transform 600ms ease;
}

.ext__btn--content--undo {
  background-image: url('undo.png');
}

/*~~~~~~~~~~~~~~~~~~~~~ Reset button */
.ext__btn--reset {
  width: 100%;
  max-width: 40px;
  background-color: rgba(202, 77, 77, 0.8);
  font-size: 1.5rem;
  transition: transform 600ms ease;
}

.ext__btn--reset:hover {
  background-color: rgb(207, 64, 64);
}

.ext__btn--reset:hover .ext__btn--content {
  transform: rotate(90deg);
}

.ext__btn--content--reset {
  background-image: url('reset.png');
}

/*~~~~~~~~~~~~~~~~~~~~~ History */
.history {
  margin: 0 10px;
  padding: 0 5px;
  height: 100%;
  border-radius: 10px;
  transition: all 500ms ease;
  background-color: rgba(0, 0, 0, 0.4);
  grid-column: 2 / span 2;

  white-space: nowrap;
  overflow: hidden;

  font-family: Motserrat, sans-serif;
  display: flex;
  align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~ Animations */
.bg-color-anim {
  background-color: rgba(156, 180, 50, 0.9);
  font-size: 700;
}

.bg-color-anim:hover {
  background-color: rgba(156, 180, 50, 0.9);
  font-size: 700;
}

/*~~~~~~~~~~~~~~~~~~~~~ STATISTICS SECTION */
.stat {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2;
}

.stat-card {
  width: 45px;
  height: 45px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stat-card--two {
  background-image: url(icons/two.png);
}
.stat-card--three {
  background-image: url(icons/three.png);
}
.stat-card--four {
  background-image: url(icons/four.png);
}
.stat-card--five {
  background-image: url(icons/five.png);
}
.stat-card--six {
  background-image: url(icons/six.png);
}
.stat-card--seven {
  background-image: url(icons/seven.png);
}
.stat-card--eight {
  background-image: url(icons/eight.png);
}
.stat-card--nine {
  background-image: url(icons/nine.png);
}
.stat-card--ten {
  background-image: url(icons/ten.png);
}
.stat-card--ace {
  background-image: url(icons/ace.png);
}
